<article class="w-1/4 card bg-rose bg-opacity-10 m-2 border border-rose">
  <img
    class="bg-white"
    src="https://imgs.search.brave.com/6ZooAmBvSfAfk3RpwI3vetJVtyG9mg-IxT_Pxct-Zgw/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9kZXNh/cnJvbGxvd2ViLmNv/bS9zdG9yYWdlL3Rh/Z19pbWFnZXMvYWN0/dWFsL1ViVzlRb1hU/d3ZvbFNJelJnZWdO/M01tWFpvb0ViSE9u/ajJDMjZwckUucG5n"
    alt=""
  />
  <p class="card-title text-rose">Aprender Angular</p>
  <p class="text-lila overscroll-x-contain">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa molestiae
    assumenda inventore vero voluptatum unde repudiandae nesciunt maiores
    ducimus quos maxime qui delectus iure rerum facere eveniet, numquam velit
    libero!
  </p>
</article>
