<article class="w-72 card bg-rose bg-opacity-10 m-2 border border-rose">
  <img
    class="bg-white"
    src="https://imgs.search.brave.com/6ZooAmBvSfAfk3RpwI3vetJVtyG9mg-IxT_Pxct-Zgw/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9kZXNh/cnJvbGxvd2ViLmNv/bS9zdG9yYWdlL3Rh/Z19pbWFnZXMvYWN0/dWFsL1ViVzlRb1hU/d3ZvbFNJelJnZWdO/M01tWFpvb0ViSE9u/ajJDMjZwckUucG5n"
    alt=""
  />
  <p class="card-title text-rose">{{ todo?.nombre }}</p>
  <p class="text-lila overscroll-x-contain">
    {{ todo?.detalle }}
  </p>
  <span class="font-light text-rose">{{ todo?.categoria }}</span>
</article>
