<div
  class="card w-1/6 center-screen bg-white items-center"
  [ngClass]="{ hidden: isHidden }"
>
  <p class="text-lg text-wine text-center">Crear nuevo ToDo</p>
  <form
    action=""
    class="m-4 w-full"
    [formGroup]="todoForm"
    (ngSubmit)="handleSubmit()"
  >
    <input
      type="text"
      placeholder="Título"
      class="input border-salmon w-full"
      formControlName="titulo"
    />
    <textarea
      class="border border-salmon focus:outline-none rounded-md focus:border-2 text-slate-600"
      placeholder="Desripción"
      cols="30"
      rows="3"
      formControlName="descripcion"
    ></textarea>
    <select class="select" formControlName="categoria">
      <option value="">Elija una categoria</option>
      @for (cat of categorias; track $index) {
      <option [value]="cat">{{ cat }}</option>
      }
    </select>

    <input type="checkbox" class="w-6" />
    <button
      type="submit"
      [disabled]="todoForm.invalid"
      class="btn border-salmon hover:bg-salmon w-full"
    >
      Enviar
    </button>
  </form>
</div>
