<article class="card w-1/4 center-screen">
  <p class="card-title text-rose">Login</p>
  <form action="" class="flex flex-col p-3">
    <input
      class="input focus:border-2 focus:border-salmon"
      type="text"
      placeholder="Usuario"
    />
    <input
      class="input focus:border-2 focus:border-salmon"
      type="password"
      placeholder="Contraseña"
    />
    <button type="submit" class="btn border border-salmon hover:bg-salmon">
      Iniciar sesión
    </button>
  </form>
</article>
