<app-navbar />
<main class="flex-col absolute w-full">
    <div class="flex justify-center pr-3 py-2 w-full">
      <button class="btn border-salmon hover:bg-salmon mx-2 w-1/4">Nuevo</button>
      <div class="flex justify-end w-full">
        <label for="category" class="text-salmon font-medium mr-3">Filtrar por categoría</label>
        <select id="category" class="bg-white border border-salmon rounded-md hover:border-2 w-1/4 py-1 px-2" [(ngModel)]="categoryFilter" (change)="filterCategoryChange()">
          <option [value]=0>Todas</option>
          @for(cat of categories; track cat.id){
            <option [value]="cat.id">{{cat.nombre}}</option>
          }
        </select>
      </div>
      
    </div>
    <div class="flex">
      @for (todo of todos; track todo.id) {
        <app-card [todo]="todo" />
        }
    </div>
  <router-outlet />
</main>
